apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: all-in-one-binding
  annotations:
    argocd.argoproj.io/sync-wave: "-5"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: all-in-one-role
subjects:
  - kind: ServiceAccount
    name: all-in-one-sa
    namespace: stackrox
  - kind: ServiceAccount
    name: all-in-one-sa
    namespace: devsecops-ci
  - kind: ServiceAccount
    name: all-in-one-sa
    namespace: devsecops-dev
  - kind: ServiceAccount
    name: all-in-one-sa
    namespace: quay-enterprise
